<!DOCTYPE html>

<html>

<head>
	
	<!-- META -->
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0">
	
	<!-- TITLE -->
	<title>Login</title>
	
	<!-- IMPORTS -->
	<link rel="stylesheet" href="/bootstrap/bootstrap-responsive.css">
	<link rel="stylesheet" href="/bootstrap/bootstrap.css">
	<script language="javascript" src="/bootstrap/bootstrap.js"></script>
	<script language="javascript" src="/jquery.js"></script>
	<script>
	$(document).ready(function() {
		var passMatch = false;
		$("#submitButton").hide();
		$(".verifyPassword").keyup(function(event){
				var password = $('input[id=newPassword]').val();
				var verifyPassword = $('input[id=verifyNewPassword]').val();
				if ((password != "") && (verifyPassword != "")) {
					if (password === verifyPassword) {
						// The passwords do match
						$('#passwordVerificationUserCheck').html('Match!');
						document.getElementById("passwordVerificationUserCheck").className = "label label-success";
						passMatch = true;
					} else{
						// The passwords don't match
						$('#passwordVerificationUserCheck').html('Sorry, those passwords don\'t match.');
						document.getElementById("passwordVerificationUserCheck").className = "label label-danger"
						$('#submitButton').hide();
						passMatch = false;
					};
				}
				else
				{
					$('#passwordVerificationUserCheck').html('');
					$('#submitButton').hide();
					passMatch = false;	
				};
			});
		$(".filledOut").keyup(function(event) {
			var pass = $('input[id=newPassword]');
			var email = $('input[id=newEmail]');
			if ((pass != "") && (email != "")) {
				if (passMatch) {
					$('#submitButton').show()
				}
			}
			else {
				$('#submitButton').hide();
			}
		});
	});
	</script>
	
</head>

	<!-- NAVBAR -->
	<div class="navbar navbar-inverse navbar-fixed-top" align="left">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="/">Udaman Series Grapher</a>
				<div class="nav-collapse collaspe">
					<ul class="nav pull-right">
						<li><a href="/">Home</a></li>
						<li><a href="/admin">Admin</a></li>
						<li><a href="/logout">Logout</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<!-- SPACER -->
	<div class="container" id="spacer">
		<p>
			<br>
			<br>
			<br>
		</p>
	</div>
	
	<div class="row-fluid">
		<div class="span4 offset4">
			<div class="row-fluid well">
			<div class="container">
				<div class="row-fluid">
					<h3>Add New Admin</h3>
				</div>
				<div class="row-fluid filledOut">
					<form method="post" action='/admin/add'>
						<h5>Username:</h5>
						<input type="text" id="newEmail" name="email"/>
						<h5>Password:</h5>
						<input type="password" id="newPassword" class="verifyPassword" name="password"/> <br>
						<h5>Re-Enter Password:</h5>
						<input id="verifyNewPassword" class="verifyPassword" type="password" name="verifyPassword"/>&nbsp;&nbsp;<span class="label" id="passwordVerificationUserCheck"></span><br>
						<input type="submit" value="Create Account" class="btn" id="submitButton"/>
					</form>
				</div>
			</div>
			</div>
			<div class="row-fluid well">
				<div class="container">
					<div class="row-fluid">
						<h3>Accounts</h3>
					</div>
					<div class="row-fluid">
						<ul name="accountList">
							<%if !@all_accounts.nil?%>
							<%@all_accounts.each do |a|%>
							<li><%=a.user%>&nbsp;&nbsp;<a href="/deleteaccount/<%=a.id%>">Delete</a></li>
							<%end%>
							<%end%>
						</ul>
					</div>
				</div>
			</div>	
		</div>
	</div>

<body>
	<style type="text/css">

	         /* Sticky footer styles
	         -------------------------------------------------- */

	         html,
	         body {
	           height: 100%;
	           /* The html and body elements cannot have any padding or margin. */
				background-image: url('http://i.imgur.com/jtiAs9M.png');
				background-repeat: no-repeat;
				background-attachment: fixed;
				background-position: center;
	         }
	</style>
</body>

</html>