<xmp>
	<select id="seriesList" onload="getGraphList()">
	<option>Loading...</option>
	</select>
	<div id="desc"></div>
	<div id="chart_container">
		<div id="y_axis">&nbsp;</div>
		<div id="chart">&nbsp;</div>
	</div>
	<link rel="stylesheet" href="http://uherodata.herokuapp.com/rickshaw.min.css" />
	<script src="http://uherodata.herokuapp.com/d3.v3.min.js"></script> 
	<script src="http://uherodata.herokuapp.com/d3.layout.js"></script> 
	<script src="http://uherodata.herokuapp.com/rickshaw.min.js"></script> 
	<script src="http://uherodata.herokuapp.com/importAjax.js"></script> <script type="text/javascript" >

	$(document).ready(function()
	{
		$('#seriesList').change(function() {
	  		refresh($('#seriesList').val());
		});

	});


	</script>
</xmp>