<xmp>
<p id="series"><%=@seriesName%></p>
<link rel="stylesheet" href="http://uherodata.herokuapp.com/rickshaw.min.css"/>
<script src="http://uherodata.herokuapp.com/d3.v3.min.js"></script>
<script src="http://uherodata.herokuapp.com/d3.layout.js"></script>
<script src="http://uherodata.herokuapp.com/rickshaw.min.js"></script>
<script src="http://uherodata.herokuapp.com/importAjax.js"></script>
</xmp>