<!DOCTYPE html>

<html>
    <head>
	
		<script src="../d3.v3.min.js"></script>
		<script src="../d3.layout.js"></script>
		<script src="../rickshaw.min.js"></script>
		<link rel="stylesheet" href="../rickshaw.min.css"/>
		<script language="javascript" src="/jquery.js"></script>
	
    </head>
    <body>
		<div id="chart_container">
		        <div id="y_axis"></div>
		        <div id="chart"></div>
		</div>
        
		<script>
		
		// new Rickshaw.Graph.JSONP({
		// 		        element: document.querySelector('#chart'),
		// 		        dataURL: 'http://uherodata.herokuapp.com/jsonRO/17800',
		// 				onComplete: function(transport) {
		// 				                var graph = transport.graph;
		// 				                var detail = new Rickshaw.Graph.HoverDetail({ graph: graph });
		// 				        }
		// 		}); 
		
		Rickshaw.Graph.JSONP.Static = Rickshaw.Class.create( Rickshaw.Graph.JSONP, {
			request: function() {
				$.ajax( {
					url: this.dataURL,
					success: this.success.bind(this),
					error: this.error.bind(this),
					dataType: 'jsonp',
					jsonpCallback: 'callback'
				} );
			}
		} );
		
		// var dates = new Array();
		// 		var values = new Array();
		// 		
		// 		var keys = $.map(seriesData.data, function(v, i) {
		// 		
		// 			dates.push(i);
		// 			values.push(v);
		// 			
		// 		});

		// var datalist = new Array();
		// 	
		// 	for (var i = 0; i < values.length; i++) {
		// 		datalist.push({ "x": i, "y":values[i]});
		// 	}

	
		var palette = new Rickshaw.Color.Palette( { scheme: 'spectrum2000' } );
	
		var graph = new Rickshaw.Graph.Ajax( {
		        element: document.querySelector("#chart"),
		        width: 760,
		        height: 360,
		        renderer: 'line',
				dataURL: 'http://uherodata.herokuapp.com/jsonRO/17800',
				color: "blue",
		} );
	
	
		/*var shelving = new Rickshaw.Graph.Behavior.Series.Toggle({
		    graph: graph,
		    legend: legend
		});
		*/
		var xTemp;
	
		var hoverDetail = new Rickshaw.Graph.HoverDetail( {
		    graph: graph,
		    xFormatter: function(x) { return ""},//dates[x]; return "" },
		    yFormatter: function(y) { return y + "<br>" + "Date: " + xTemp }
		} );
	
		var yAxis = new Rickshaw.Graph.Axis.Y({
		    graph: graph
		});
	
	
		var xAxis = new Rickshaw.Graph.Axis.X({
		    graph: graph,
			tickFormat: function(x) {return xarray[x]}
		});
	
	
		graph.render();
			
        </script>
        
    </body>
</html>